# Get Cities of The World Quality of Life Data

In this exercise, we will try to get scoring information about the quality of life for several cities around the world. üåç

For this exercise, we will be using the following API:

- <a href="https://developers.teleport.org/api/getting_started/" target="_blank">Teleport</a>

We will also need to use a website called RandomList.com that will give us a random cities around the world to get a scoring. 

Then we will store the data we got into an S3 Bucket! 

Quite a project, right? ü•µ

ü•∞ü•∞ You'll learn a lot during this exercise ü•∞ü•∞ 

So let's go üí™üí™üí™

## Part 1: Get data for 1 City 

To simplify this exercise, let's start by trying to scrape data for only 1 city: Paris. In another part, we'll try to get scores for 100 different cities.

- Import the library called `requests`:

* Check teleport's API, to find a way to search information on Paris. Especially, we would need its `geonameid`

  * Here is the link for the documentation üëâüëâüëâ [Teleport API](https://developers.teleport.org/api/getting_started/)

‚ÑπÔ∏è‚ÑπÔ∏èYou should get the following result ‚ÑπÔ∏è‚ÑπÔ∏è

{'_embedded': {'city:search-results': [{'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/'}},
    'matching_alternate_names': [{'name': 'Paris'},
     {'name': 'paris'},
     {'name': 'Parisi'}],
    'matching_full_name': 'Paris, √éle-de-France, France'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4717560/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Texas, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489854/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Kingston, Kingston, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:966166/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Parys, Orange Free State, South Africa (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489297/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'New Kingston, St. Andrew, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:6942553/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Ontario, Canada'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4647963/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Tennessee, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4303602/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Kentucky, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4246659/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Illinois, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4974617/'}},
    'matching_alternate_names': [{'name': 'Paris'},
     {'name': 'Paris Hill'},
     {'name': 'parisu'}],
    'matching_full_name': 'Paris, Maine, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:8504417/'}},
    'matching_alternate_names': [{'name': 'Paris La Defense'}],
    'matching_full_name': 'La Defense, √éle-de-France, France (Paris La Defense)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:1694660/'}},
    'matching_alternate_names': [{'name': 'Parista'}],
    'matching_full_name': 'Parista, Central Luzon, Philippines'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4125402/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Arkansas, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3488465/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Spanish Town, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3488981/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Portmore, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489460/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Montego Bay, St. James, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4225346/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Swainsboro, Georgia, United States (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4432542/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Kosciusko, Mississippi, United States (Paris)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:6098747/'}},
    'matching_alternate_names': [{'name': 'parisaundo'}],
    'matching_full_name': 'Parry Sound, Ontario, Canada (parisaundo)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:4402452/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Missouri, United States'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:2999139/'}},
    'matching_alternate_names': [{'name': 'Paris-Plage'}],
    'matching_full_name': 'Le Touquet-Paris-Plage, Hauts-de-France, France (Paris-Plage)'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489577/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Mandeville, Manchester, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489523/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'May Pen, Clarendon, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:3489227/'}},
    'matching_alternate_names': [],
    'matching_full_name': 'Old Harbour, Saint Catherine, Jamaica'},
   {'_links': {'city:item': {'href': 'https://api.teleport.org/api/cities/geonameid:5603240/'}},
    'matching_alternate_names': [{'name': 'Paris'}],
    'matching_full_name': 'Paris, Idaho, United States'}]},
 '_links': {'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/cities/?search=Paris&geohash='}},
 'count': 25}

* Now that you got the a list of search results, try to isolate Paris' `geonameid`

'https://api.teleport.org/api/cities/geonameid:2988507/'

* Use `requests` to get information about Paris

{'_links': {'city:admin1_division': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:FR/admin1_divisions/geonames:11/',
   'name': '√éle-de-France'},
  'city:alternate-names': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/alternate_names/'},
  'city:country': {'href': 'https://api.teleport.org/api/countries/iso_alpha2:FR/',
   'name': 'France'},
  'city:timezone': {'href': 'https://api.teleport.org/api/timezones/iana:Europe%2FParis/',
   'name': 'Europe/Paris'},
  'city:urban_area': {'href': 'https://api.teleport.org/api/urban_areas/slug:paris/',
   'name': 'Paris'},
  'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/cities/geonameid:2988507/'}},
 'full_name': 'Paris, √éle-de-France, France',
 'geoname_id': 2988507,
 'location': {'geohash': 'u09tvmqrep8np02g7x9y',
  'latlon': {'latitude': 48.85341, 'longitude': 2.3488}},
 'name': 'Paris',
 'population': 2138551}

* You should now be able to get Paris' quality of life scores

{'_links': {'curies': [{'href': 'https://developers.teleport.org/api/resources/Location/#!/relations/{rel}/',
    'name': 'location',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/City/#!/relations/{rel}/',
    'name': 'city',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/UrbanArea/#!/relations/{rel}/',
    'name': 'ua',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Country/#!/relations/{rel}/',
    'name': 'country',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Admin1Division/#!/relations/{rel}/',
    'name': 'a1',
    'templated': True},
   {'href': 'https://developers.teleport.org/api/resources/Timezone/#!/relations/{rel}/',
    'name': 'tz',
    'templated': True}],
  'self': {'href': 'https://api.teleport.org/api/urban_areas/slug:paris/scores/'}},
 'categories': [{'color': '#f3c32c',
   'name': 'Housing',
   'score_out_of_10': 3.5835},
  {'color': '#f3d630', 'name': 'Cost of Living', 'score_out_of_10': 3.664},
  {'color': '#f4eb33', 'name': 'Startups', 'score_out_of_10': 9.2765},
  {'color': '#d2ed31',
   'name': 'Venture Capital',
   'score_out_of_10': 7.513000000000001},
  {'color': '#7adc29', 'name': 'Travel Connectivity', 'score_out_of_10': 10.0},
  {'color': '#36cc24',
   'name': 'Commute',
   'score_out_of_10': 5.330500000000001},
  {'color': '#19ad51',
   'name': 'Business Freedom',
   'score_out_of_10': 8.088333333333333},
  {'color': '#0d6999', 'name': 'Safety', 'score_out_of_10': 6.2465},
  {'color': '#051fa5',
   'name': 'Healthcare',
   'score_out_of_10': 8.207666666666666},
  {'color': '#150e78', 'name': 'Education', 'score_out_of_10': 7.085},
  {'color': '#3d14a4',
   'name': 'Environmental Quality',
   'score_out_of_10': 4.36225},
  {'color': '#5c14a1', 'name': 'Economy', 'score_out_of_10': 4.2045},
  {'color': '#88149f',
   'name': 'Taxation',
   'score_out_of_10': 2.6480000000000006},
  {'color': '#b9117d',
   'name': 'Internet Access',
   'score_out_of_10': 9.716000000000001},
  {'color': '#d10d54', 'name': 'Leisure & Culture', 'score_out_of_10': 9.8165},
  {'color': '#e70c26', 'name': 'Tolerance', 'score_out_of_10': 5.579},
  {'color': '#f1351b', 'name': 'Outdoors', 'score_out_of_10': 4.433}],
 'summary': '<p>\n    Paris, the most visited city in the world, is a historical, cultural and esthetic gem that has played a major role in European history for centuries. Its <b>overwhelming beauty</b>, architectural wonders and national <b>cuisine</b> call to people from around the world, adding to its\xa0exciting and <b>diverse environment</b>.\xa0As a global <b>economic center</b>, Paris offers opportunities in a wide range of industries and business markets.\n</p>\n\n\n    <p>Paris is one of the top ten city matches for 9.5% of Teleport users.</p>\n',
 'teleport_city_score': 64.34202702702702}

* Use `Pandas` to create a DataFrame where you'll get all the scores for Paris

     color                 name  score_out_of_10
0  #f3c32c              Housing           3.5835
1  #f3d630       Cost of Living           3.6640
2  #f4eb33             Startups           9.2765
3  #d2ed31      Venture Capital           7.5130
4  #7adc29  Travel Connectivity          10.0000

* We now need to upload this DataFrame to S3. Let's first create a Boto3 session 
  * For the following, refer to the following documentation üëâüëâüëâ [Boto3](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html)

* Now create a resource session

* Create a Bucket that you'll call `scoring-cities-in-the-world`

* Use `Pandas` to export your DataFrame as a csv file

* Use `put_object()` function to create an Object within the bucket you just created

## Get Data For Several Cities 

üòâ Congrats ! üòâ You made it to the second part of the exercise. We now need more data to be able to compare them later. Let's try to find a way to get data for a lot more cities

* Go on to [this Wikipedia page](https://en.wikipedia.org/wiki/List_of_largest_cities). There you'll find a list of the world's largest cities.
  * Use `scrapy` to scrape the city names directly from this page üòé

2020-09-02 17:51:03 [scrapy.utils.log] INFO: Scrapy 2.3.0 started (bot: scrapybot)
2020-09-02 17:51:03 [scrapy.utils.log] INFO: Versions: lxml 4.5.2.0, libxml2 2.9.10, cssselect 1.1.0, parsel 1.6.0, w3lib 1.22.0, Twisted 20.3.0, Python 3.8.5 | packaged by conda-forge | (default, Jul 31 2020, 02:39:48) - [GCC 7.5.0], pyOpenSSL 19.1.0 (OpenSSL 1.1.1g  21 Apr 2020), cryptography 3.0, Platform Linux-4.19.112+-x86_64-with-glibc2.10
2020-09-02 17:51:03 [scrapy.crawler] INFO: Overridden settings:
{'LOG_LEVEL': 20,
 'USER_AGENT': 'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)'}
2020-09-02 17:51:03 [scrapy.extensions.telnet] INFO: Telnet Password: f2470c658d86a5d3
2020-09-02 17:51:03 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.corestats.CoreStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.feedexport.FeedExporter',
 'scrapy.extensions.logstats.LogStats']
2020-09-02 17:51:03 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2020-09-02 17:51:03 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2020-09-02 17:51:03 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2020-09-02 17:51:03 [scrapy.core.engine] INFO: Spider opened
2020-09-02 17:51:03 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2020-09-02 17:51:03 [scrapy.extensions.telnet] INFO: Telnet console listening on 127.0.0.1:6023
2020-09-02 17:51:03 [scrapy.core.engine] INFO: Closing spider (finished)
2020-09-02 17:51:03 [scrapy.extensions.feedexport] INFO: Stored json feed (81 items) in: src/cities.json
2020-09-02 17:51:03 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 263,
 'downloader/request_count': 1,
 'downloader/request_method_count/GET': 1,
 'downloader/response_bytes': 57281,
 'downloader/response_count': 1,
 'downloader/response_status_count/200': 1,
 'elapsed_time_seconds': 0.226145,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2020, 9, 2, 17, 51, 3, 709896),
 'item_scraped_count': 81,
 'log_count/INFO': 11,
 'memusage/max': 129277952,
 'memusage/startup': 129277952,
 'response_received_count': 1,
 'scheduler/dequeued': 1,
 'scheduler/dequeued/memory': 1,
 'scheduler/enqueued': 1,
 'scheduler/enqueued/memory': 1,
 'start_time': datetime.datetime(2020, 9, 2, 17, 51, 3, 483751)}
2020-09-02 17:51:03 [scrapy.core.engine] INFO: Spider closed (finished)

* Read the json file with results from the crawling :

          city
0        Tokyo
1        Delhi
2     Shanghai
3    S√£o Paulo
4  Mexico City

* Finally, create a loop that will go through each city, search for information and store it to your S3 bucket 
  * You might get some errors, definitely use the `try: \ except:` structure 
  * (It's totally fine if you couldn't get info for all cities) üòåüòå

Tokyo done
Delhi done
Shanghai done
S√£o Paulo done
Mexico City done
Cairo done
Mumbai done
Beijing done
Couldn't find results for Dhaka
Osaka done
New York City done
Couldn't find results for Karachi
Buenos Aires done
Couldn't find results for Chongqing
Istanbul done
Couldn't find results for Kolkata
Manila done
Lagos done
Rio de Janeiro done
Couldn't find results for Tianjin
Couldn't find results for Kinshasa
Guangzhou done
Los Angeles done
Moscow done
Shenzhen done
Couldn't find results for Lahore
Bangalore done
Paris done
Bogot√° done
Jakarta done
Chennai done
Lima done
Bangkok done
Seoul done
Couldn't find results for Nagoya
Hyderabad done
London done
Tehran done
Chicago done
Couldn't find results for Chengdu
Couldn't find results for Nanjing
Couldn't find results for Wuhan
Ho Chi Minh City done
Couldn't find results for Luanda
Couldn't find results for Ahmedabad
Kuala Lumpur done
Couldn't find results for Xi'an
Hong Kong done
Dongguan done
Hangzhou done
Foshan done
Couldn't find results for Shenyang
Riyadh done
Couldn't find results for Baghdad
Santiago done
Couldn't find results for Surat
Madrid done
Suzhou done
Couldn't find results for Pune
Couldn't find results for Harbin
Houston done
Dallas done
Toronto done
Dar es Salaam done
Miami done
Couldn't find results for Belo Horizonte
Singapore done
Philadelphia done
Atlanta done
Fukuoka done
Couldn't find results for Khartoum
Barcelona done
Johannesburg done
Saint Petersburg done
Couldn't find results for Qingdao
Couldn't find results for Dalian
Washington, D.C. done
Couldn't find results for Yangon
Couldn't find results for Alexandria
Couldn't find results for Jinan
Guadalajara done

üéäüéäüéä Congratulations, You made it to the end of this exercise !! üéäüéäüéäüéä