In [2]:
import pandas as pd
import json
import boto3

In [3]:
data = json.load(open(r'C:\Users\jerem\Documents\Jedha\FullStack\Data\cities.json'))

In [4]:
df = pd.json_normalize(data)

In [5]:
df

      color                   name  score_out_of_10
0   #f3c32c                Housing         3.583500
1   #f3d630         Cost of Living         3.664000
2   #f4eb33               Startups         9.276500
3   #d2ed31        Venture Capital         7.513000
4   #7adc29    Travel Connectivity        10.000000
5   #36cc24                Commute         5.330500
6   #19ad51       Business Freedom         8.088333
7   #0d6999                 Safety         6.246500
8   #051fa5             Healthcare         8.757000
9   #150e78              Education         7.085000
10  #3d14a4  Environmental Quality         4.362250
11  #5c14a1                Economy         4.204500
12  #88149f               Taxation         2.648000
13  #b9117d        Internet Access         9.716000
14  #d10d54      Leisure & Culture         9.816500
15  #e70c26              Tolerance         5.579000
16  #f1351b               Outdoors         4.433000

In [6]:
session = boto3.Session(aws_access_key_id="", 
                        aws_secret_access_key="")

s3 = session.resource("s3")
s3.Bucket('philippe-jeremy-first-bucket').upload_file('paris.csv', 'paris.csv')