In [2]:
import pandas as pd

In [3]:
fichier = pd.read_excel('fichiers\satisfaction apple release.xlsx')

In [4]:
fichier

    Satisfied customer
0                    0
1                    0
2                    0
3                    0
4                    0
5                    1
6                    1
7                    0
8                    1
9                    1
10                   0
11                   0
12                   1
13                   1
14                   0
15                   1
16                   0
17                   0
18                   0
19                   0
20                   1
21                   0
22                   1
23                   0
24                   0
25                   0
26                   1
27                   0
28                   0
29                   1
30                   0
31                   0
32                   0
33                   1
34                   0
35                   0
36                   1
37                   1
38                   1
39                   0
40                   0

In [31]:
nb_personne = fichier["Satisfied customer"].count()

In [32]:
nb_personne

41

In [33]:
satis = fichier["Satisfied customer"].sum()

In [34]:
satis

15

In [35]:
pas_satis = nb_personne - satis

In [36]:
pas_satis

26