In [2]:
import pandas as pd

In [3]:
fichier = pd.read_excel('fichiers\Monthly spending on adwords.xlsx')

In [4]:
fichier

    Monthly spending
0         562.460391
1         382.543660
2         947.684175
3         425.084351
4         546.562302
5         133.860261
6         783.912920
7         347.531233
8         666.256286
9         351.723635
10        176.337931
11        443.888608
12        497.328745
13        287.975596
14        232.070982
15        481.586651
16        249.388375
17        452.058695
18        127.816194
19        183.780934
20        752.914472
21        120.167111
22        761.081928
23        488.000656
24        268.323763
25        573.228130
26        812.368105
27        950.211726
28        865.763205
29        853.480880
30        519.566696

In [5]:
moyenne = fichier["Monthly spending"].mean()

In [6]:
ecart_type = fichier["Monthly spending"].std()

In [7]:
taille = fichier["Monthly spending"].count()

In [9]:
racine_carre = taille**0.5

In [ ]:
n =