In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from sklearn import datasets
from sqlalchemy import create_engine, Column, Integer, String, Float, BIGINT, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
df = px.data.iris()

In [3]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [4]:
engine = create_engine("sqlite:///:memory:", echo=True)

In [5]:
df.to_sql("iris",
    engine
)

2022-10-24 21:05:35,295 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("iris")
2022-10-24 21:05:35,296 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-24 21:05:35,296 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("iris")
2022-10-24 21:05:35,297 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-10-24 21:05:35,298 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-24 21:05:35,299 INFO sqlalchemy.engine.Engine
CREATE TABLE iris (
	"index" BIGINT,
	sepal_length FLOAT,
	sepal_width FLOAT,
	petal_length FLOAT,
	petal_width FLOAT,
	species TEXT,
	species_id BIGINT
)


2022-10-24 21:05:35,299 INFO sqlalchemy.engine.Engine [no key 0.00034s] ()
2022-10-24 21:05:35,300 INFO sqlalchemy.engine.Engine CREATE INDEX ix_iris_index ON iris ("index")
2022-10-24 21:05:35,300 INFO sqlalchemy.engine.Engine [no key 0.00054s] ()
2022-10-24 21:05:35,301 INFO sqlalchemy.engine.Engine COMMIT
2022-10-24 21:05:35,302 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-24 21:05:35,304 INFO sqlalchemy.engine.Engine INSERT INTO iris ("index", sepal_length, sepal_width, petal_length, petal_width, species, species_id) VALUES (?, ?, ?, ?, ?, ?, ?)
2022-10-24 21:05:35,304 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ((0, 5.1, 3.5, 1.4, 0.2, 'setosa', 1), (1, 4.9, 3.0, 1.4, 0.2, 'setosa', 1), (2, 4.7, 3.2, 1.3, 0.2, 'setosa', 1), (3, 4.6, 3.1, 1.5, 0.2, 'setosa', 1), (4, 5.0, 3.6, 1.4, 0.2, 'setosa', 1), (5, 5.4, 3.9, 1.7, 0.4, 'setosa', 1), (6, 4.6, 3.4, 1.4, 0.3, 'setosa', 1), (7, 5.0, 3.4, 1.5, 0.2, 'setosa', 1)  ... displaying 10 of 150 total bound parameter sets ...  (148, 6.2, 3.4, 5.4, 2.3, 'virginica', 3), (149, 5.9, 3.0, 5.1, 1.8, 'virginica', 3))
2022-10-24 21:05:35,305 INFO sqlalchemy.engine.Engine COMMIT

150

In [12]:
conn = engine.connect()

In [14]:
requist = text("SELECT DISTINCT species FROM iris")
result = conn.execute(requist)
result.fetchall()

2022-10-24 21:16:32,457 INFO sqlalchemy.engine.Engine SELECT DISTINCT species FROM iris
2022-10-24 21:16:32,457 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ()

[('setosa',), ('versicolor',), ('virginica',)]

In [18]:
requist = text("SELECT species,  AVG(sepal_length) FROM iris GROUP BY species")
result = conn.execute(requist)
result.fetchall()

2022-10-24 21:18:27,372 INFO sqlalchemy.engine.Engine SELECT species,  AVG(sepal_length) FROM iris GROUP BY species
2022-10-24 21:18:27,372 INFO sqlalchemy.engine.Engine [generated in 0.00069s] ()

[('setosa', 5.005999999999999),
 ('versicolor', 5.936),
 ('virginica', 6.587999999999998)]