# Lists

Here is a list ["Hello", "I", "Michel", "am"]

    1. Store this list in a variable we'll call michel
    2. Make a loop so that the console returns each of the items in the list

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

Hello
I
am
Michel

Here's a list of ages: [12, 16, 34, 58, 9].

    1. Store this age list in a variable that we'll call: 



```
age
```



    2. We would like this list to be arranged in ascending order, how do we do that?

[9, 12, 16, 34, 58]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

    1. In your text editor, write:
    


```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```

    2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.
    
    3. See what's in the dictionary via a loop
    
    4. We'd like to make a nice phrase to describe the character like this: 
    
    “{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY

Leia Organa is 150 cm tall and weighs 49 kg. She was born in 19BBY

# Slices

 We have the following dataset: ` kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`
 
    1. This variable represents a list of kilometres travelled every morning by 8 users to work.
    2. Using a loop, calculate the total average of all the users' trips
    3. Is this average representative of what all individuals really go through? Why do you think so?

On average, users travelled 156.0 km to get to work.

    4. Change the variable kilometers_travelled to have a more representative average

On average, users travelled 35.42857142857143 km to get to work.